<div class="card shadow mb-4">
  <div class="card-header py-3">
      {% if group == 'tests' %}
      <h6 class="m-0 font-weight-bold text-primary"><a href="/details/test/{{item.item.id}}">{{item.item.name}}</a></h6>
      {% else %}
      <h6 class="m-0 font-weight-bold text-primary"><a href="/details/host/{{item.item.id}}">{{item.item.fqdn}}</a></h6>
      {% endif %}
  </div>
  <div class="card-body">
      <h4 class="small font-weight-bold">Results <span class="float-right">Confidence: {{item.confidence|floatformat:3}} | {{item.results.PASS}} from {{item.total}} tests</span></h4>
    <div class="progress mb-4">
      {% if item.results.PASS %}
      <div title="Pass - {{item.results.PASS}} test(s)" class="progress-bar bg-success" style="width:{{item.results_percent.PASS}}%">
      </div>
      {% endif %}
      {% if item.results.SKIP %}
      <div title="Skip - {{item.results.SKIP}} test(s)" class="progress-bar bg-gray-800" style="width:{{item.results_percent.SKIP}}%">
      </div>
      {% endif %}
      {% if item.results.FAIL %}
      <div title="Fail - {{item.results.FAIL}} test(s)" class="progress-bar bg-danger" style="width:{{item.results_percent.FAIL}}%">
      </div>
      {% endif %}
      {% if item.results.ERROR %}
      <div title="Error - {{item.results.ERROR}} test(s)" class="progress-bar bg-danger" style="width:{{item.results_percent.ERROR}}%">
      </div>
      {% endif %}
    </div>
  </div>
</div>

