<div class="row">
  <div class="col">
    <i class="fas fa-tree"></i>
    <span title="Git Tree">
      {{ checkout.tree }}
    </span>
  </div>
  <div class="col-sm-3">
    <small>
      <i class="fas fa-hourglass-start"></i>
      <span title="Start Time">
        {{ checkout.start_time|date:"d M Y H:i:s" }}
      </span>
    </small>
  </div>
</div>

{% if checkout.git_repository_url %}
<div class="row">
  <div class="col">
    <span title="Repository URL">
        <i class="fas fa-code-branch fa-sm"></i>
        {{ checkout.git_repository_url }} @
    </span>
    <span title="Repository branch">
        {{ checkout.git_repository_branch }}
    </span>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col">
    {% if checkout.kernel_version %}
      <span title="Kernel Version">
        {{ checkout.kernel_version }}
      </span>
    {% else %}
      <span title="Commit Hash">
        {{ checkout.git_commit_hash }}
      </span>
    {% endif %}
  </div>
</div>

{% include 'link_gitlab_mergerequest.html' with checkout=checkout %}
{% for component in checkout.provenance.all %}
{% include 'link_provenance_component.html' with component=component %}
{% endfor %}
