<!-- Topbar Search -->
<form id='search_form' action="{% url 'search' %}" method="GET" class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group">
    <input type="text" id='search_query' name='q' class="form-control bg-light border-0 small"
      placeholder="Search by Checkout, Kernel Version or MR ID" aria-label="Search" value="{{ query }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
