{% extends "base.html" %}

{% block title %}
Baselines
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' %}">Checkouts</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.baselines' %}">Baselines</a></li>
    {% if git_repository_url %}
      <li class="breadcrumb-item active">{{ git_repository_url }} | {{ git_repository_branch }} | {{ tree_name }}</li>
    {% else %}
      <li class="breadcrumb-item active">{{ kpet_tree_name }} | {{ package_name }}</li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Baselines</h6>
  </div>
  <div class="card-body">
    {% include 'tables/table_kcidb_checkouts_baselines_history.html' %}
  </div>
</div>

{% include 'paginator.html' %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
