{% extends "base.html" %}
{% load styles %}
{% load getattribute %}

{% block title %}
Tests
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Tests</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
  <div class="card-header">
    <form id="tests-filter" class="form-inline" action="" method="get">
      <!-- Checkout Fields -->
      <fieldset class="form-group col-12 col-lg-6 col-xl-3 mb-2 mb-md-0">
        <legend class="col-form-label pt-0">Checkout</legend>
        <div class="input-group mb-2 mr-sm-2">
          <label>
            Tree
            <input type="text" name="tree_filter" class="form-control border-0 small"
                  placeholder="e.g. mainline|c9s|rhel-9"
                  value="{{ tree_filter|default:'' }}"
                  title="Tree name filter. Supports regex syntax.">
          </label>
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <label>
            Kernel Version
            <input type="text" name="kernel_version_filter" class="form-control border-0 small"
                  placeholder="e.g. MR ID; kernel-6.9.0"
                  value="{{ kernel_version_filter|default:'' }}"
                  title="Kernel Version filter. Supports regex syntax.">
          </label>
        </div>
      </fieldset>

      <hr class="d-lg-none w-100"/>
      <!-- Build Fields -->
      <fieldset class="form-group col-12 col-lg-6 col-xl-3 mb-2 mb-md-0">
        <legend class="col-form-label pt-0">Build</legend>
        <div class="input-group mb-2 mr-sm-2">
          <label>
            Architecture
            <select class="form-control" id="arch" name="arch_filter">
              <option value="">(Any)</option>
              {% for arch in models_ArchitectureEnum %}
              <option value="{{ arch.label }}" {% if arch_filter == arch.label %}selected{% endif %}>{{ arch.label }}</option>
              {% endfor %}
            </select>
          </label>
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <label>
            Package Name
            <select class="form-control" name="package_name_filter">
              <option value="">(Any)</option>
              {% for package_name in package_names %}
              <option value="{{ package_name }}" {% if package_name_filter == package_name %}selected{% endif %}>{{ package_name }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
      </fieldset>

      <hr class="d-xl-none w-100"/>
      <!-- Test Fields -->
      <fieldset class="form-group col-12 col-lg-6 col-xl-3 mb-2 mb-md-0">
        <legend class="col-form-label pt-0">Test</legend>

        <div class="input-group mb-2 mr-sm-2">
          <label>
            Name
            <input type="text" name="test_filter" class="form-control border-0 small"
                  placeholder="e.g. KUNIT|LTP Lite"
                  value="{{ test_filter|default:'' }}"
                  title="Test name filter. Supports regex syntax. Case sensitive">
          </label>
        </div>
        <div class="input-group mb-2 mr-sm-2">
          <label>
            Status
            <select class="form-control" id="result" name="result_filter">
              <option value="">(Any)</option>
              {% for result in models_ResultEnum %}
              <option value="{{ result.label }}" {% if result_filter == result.label %}selected{% endif %}>{{ result.label }}</option>
              {% endfor %}
            </select>
          </label>
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <label title="">
            Triaged
            <select class="form-control" id="issues_tagged" name="issues_tagged_filter">
              <option value="">(Any)</option>
              <option value="True" {% if issues_tagged_filter == 'True' %}selected{% endif %}>Triaged</option>
              <option value="False" {% if issues_tagged_filter == 'False' %}selected{% endif %}>Needs triage</option>
            </select>
          </label>
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <label>
            Waived
            <select class="form-control" name="waived_filter">
              <option value="">(Any)</option>
              <option value="True" {% if waived_filter == 'True' %}selected{% endif %}>Yes</option>
              <option value="False" {% if waived_filter == 'False' %}selected{% endif %}>No</option>
            </select>
          </label>
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <label>
            Host Filter
            <input type="text" name="host_filter" class="form-control border-0 small"
                  placeholder="e.g. kvm-01-guest2[0-5]"
                  value="{{ host_filter|default:'' }}"
                  title="Host filter. Supports regex syntax.">
          </label>
        </div>
      </fieldset>

      <hr class="d-lg-none w-100"/>
      <!-- Subtest Fields -->
      <fieldset class="form-group col-12 col-lg-6 col-xl-3 mb-2 mb-md-0">
        <legend class="col-form-label pt-0">Subtest</legend>
        <div class="input-group mb-2 mr-sm-2">
          <label>
            Name
            <input type="text" name="testresult_filter" class="form-control border-0 small"
                  placeholder="e.g. dmesg_check|Panic"
                  value="{{ testresult_filter|default:'' }}"
                  title="Subtest name filter. Supports regex syntax.">
          </label>
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <label>
            Status
            <select class="form-control" name="testresult_status_filter">
              <option value="">(Any)</option>
              {% for result in models_ResultEnum %}
              <option value="{{ result.label }}" {% if testresult_status_filter == result.label %}selected{% endif %}>{{ result.label }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
      </fieldset>

      <div class="col-12 d-flex justify-content-end align-items-center">
        <div class="input-group ml-0 mr-sm-2 form-check">
          <input type="checkbox" id="sort_by_start_time" name="sort_by_start_time" class="form-check-input border-0 small"
            value="True" {% if sort_by_start_time %}checked{% endif %}
            title="Sort by Start Time. Filters out tests without start_time.">
            <label class="form-check-label" for="sort_by_start_time">
              Sort by Start Time
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </form>
  </div>

  <div class="card-body">
    {% include 'tables/table_kcidb_tests.html' with strip_id_prefix='' %}
  </div>
</div>

{% include 'paginator.html' %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
